<main>
	<div class="title">
		
		<h1><%=@title + " "+"("+@year+")"%></h1>
		<h4><%=@cast%></h4>
	</div>
	<div>
	<%=image_tag(@image, :class => "image")%>
	</div>
	<div class="rating">
		<div class="score">
			
			
				<%if @rating == @ratingCheck%>
					<%=button_to @rating, play_path, id: "ratingbtn", class: "ratingbtn", onclick: "this.style.background='#009900'" %>
				<%else%>
					<%=button_tag @rating, id: "ratingbtn", class: "ratingbtn", onclick: "this.style.background='#990000'" %>
				<%end%>
				<%if @rating1 == @ratingCheck%>
					<%=button_to @rating1, play_path, id: "ratingbtn1", class: "ratingbtn", onclick: "this.style.background='#009900'" %>
				<%else%>
					<%=button_tag @rating1, {id: "ratingbtn1", class: "ratingbtn", onclick: "this.style.background='#990000'"} %>
				<%end%>
				<%if @rating2 == @ratingCheck%>
					<%=button_to @rating2, play_path, id: "ratingbtn2", class: "ratingbtn", onclick: "this.style.background='#009900'" %>
				<%else%>
					<%=button_tag @rating2, {id: "ratingbtn2", class: "ratingbtn", onclick: "this.style.background='#990000'"} %>
				<%end%>
			
		</div>
	</div>
</main> 