<main>
	<div class="title">
		<h1>Movie Rating Guessing Game</h1>
		<h2><%=@title + " "+"("+@year+")"%></h2>
		<h3><%=@cast%></h3>
	</div>
	<%=image_tag(@image, :class => "image")%>
	<div class="rating">
		<h3 id="instruction">Click the Correct Score</h3>
		<div class="score">
			<%if @rating == @ratingCheck%>
				<ul class="winner" onclick="this.style.backgroundColor='#009900'"><%=@rating%></ul>
			<%else%>
				<ul class="loser" onclick="this.style.backgroundColor='#990000'"><%=@rating%></ul>
			<%end%>
			<%if @rating1 == @ratingCheck%>
				<ul class="winner" onclick="this.style.backgroundColor='#009900'"><%=@rating1%></ul>
			<%else%>
				<ul class="loser" onclick="this.style.backgroundColor='#990000'"><%=@rating1%></ul>
			<%end%>
			<%if @rating2 == @ratingCheck%>
				<ul class="winner" onclick="this.style.backgroundColor='#009900'"><%=@rating2%></ul>
			<%else%>
				<ul class="loser" onclick="this.style.backgroundColor='#990000'"><%=@rating2%></ul>
			<%end%>
		</div>
		<div id="next">
				<%=link_to "Next", root_path%>
		</div>
	</div>
</main>